* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Inter, sans-serif;
  background: #fff;
  color: #061e14;
}
a { text-decoration: none; }
